<div class="persons-container">
  <ul class="persons-container__text">
    <li [routerLink]="['/personas', index]" [queryParams]="{ modeEdition: 1 }">
      {{ person.name }} {{ person.lastName }}
    </li>
  </ul>
  <button
    type="submit"
    class="persons-container__button"
    (click)="sendGreeting()"
  >
    Edit
  </button>
</div>

<!-- <div class="persons-container">
  <p class="persons-container__text">
    {{ index + 1 }}: {{ person.name }} {{ person.lastName }}
  </p>
  <button
    type="submit"
    class="persons-container__button"
    (click)="sendGreeting()"
  >
    Edit
  </button>
</div> -->
