<form class="form" #f="ngForm" (ngSubmit)="f.form.valid && savePerson()">
  <div class="form__container container">
    <label for="name" class="container__label">Name</label>
    <input
      class="container__input"
      type="text"
      name="name"
      id="name"
      placeholder="Add name..."
      [(ngModel)]="nameInput"
      required
    />
  </div>
  <div class="form__container container">
    <label for="name" class="container__label">Last Name</label>
    <input
      class="container__input"
      type="text"
      name="lastName"
      id="lastName"
      placeholder="Add last name..."
      [(ngModel)]="lastNameInput"
      required
    />
  </div>
  <button class="form__button" type="submit">+</button>
  <button
    class="form__button--red"
    type="submit"
    *ngIf="index !== null"
    (click)="deletePerson()"
  >
    -
  </button>
</form>
