<div class="all-elements-container">
  <div class="container-button">
    <button class="container-button__add" (click)="add()">
      Add New Person!
    </button>
  </div>
  <router-outlet></router-outlet>
  <div class="persons-full-container">
    <img
      src="../../assets/icon-list.png"
      class="persons-full-container__image"
      alt=""
    />
    <app-persona
      *ngFor="let personElement of persons; let i = index"
      [person]="personElement"
      [index]="i"
    >
    </app-persona>
  </div>
</div>

<!-- <app-formulario (personCreated)="addPersonList($event)"></app-formulario> -->
<!-- <app-formulario></app-formulario> -->
