.all-elements-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.container-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 1rem 0;
  &__add {
    height: 3rem;
    font-size: 18px;
    border-radius: 1rem;
    padding: 0 1rem;
    color: #2d325a;
    background-color: #24639a;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 black;
    z-index: 2;

    &:hover {
      transform: translateY(-4px) translateX(-2px);
      box-shadow: 2px 5px 0 0 black;
    }

    &:active {
      transform: translateY(2px) translateX(1px);
      box-shadow: 0 0 0 0 black;
    }
  }
}

.persons-full-container {
  width: 31.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #2d325a;
  margin-top: 3rem;
  position: relative;

  &__image {
    position: absolute;
    left: -5rem;
    top: -3.5rem;
    width: auto;
    height: 150px;
    transform: scaleX(-1);
  }
}
