.app-container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 1rem;

  &__h1 {
    color: #23cdfc;
    font-size: 45px;
    text-transform: uppercase;
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #2d325a;
  }
}
