.form {
  display: flex;
  gap: 2rem;
  align-items: flex-end;

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__input {
      max-width: 190px;
      padding: 12px;
      border: none;
      border-radius: 4px;
      box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
      outline: none;
      color: dimgray;
    }
  }

  &__button {
    background-color: white;
    height: 3rem;
    color: black;
    border-radius: 10em;
    font-size: 15px;
    font-weight: 600;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;

    &:hover {
      transform: translateY(-4px) translateX(-2px);
      box-shadow: 2px 5px 0 0 black;
    }

    &:active {
      transform: translateY(2px) translateX(1px);
      box-shadow: 0 0 0 0 black;
    }
  }
}
